body {
    margin: 0%;
    padding: 0%;
    background: green;
}

.container {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 30px;
    color: red;
    font-weight: border;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, 50%);
    font-size: 180px;
    white-space: nowrap;
}